<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create Rental Car</title>
</head>
<body>
<form th:object="${newCar}" th:action="@{/inputCar}" method='POST'>
Make: <input name="make" size = "20" th:field="*{make}" required><br />
Model: <input name="model" size="20" th:field="*{model}" required><br />
Year: <input name="year" size="20" th:field="*{year}" required><br/>
Color: <input name="color" size="20" th:field="*{color}" required><br/>
Capacity: <input name="capacity" size="20" th:field="*{capacity}" required><br/>
MPG / Range: <input name="mpg" size="20" th:field="*{mpg}" required><br/>
Price: <input name="pricePerDay" size="20" th:field="*{pricePerDay}" required><br/>
Fuel Type: <select name="fuelType" th:field="*{fuelType}" required>
<option value="" selected>Select an Option</option>
  <option value="Gas">Gas</option>
  <option value="Diesel">Diesel</option>
  <option value="Electric">Electric</option>
</select><br/>
Dealership: <select name="dealership" th:field="*{dealership}" required>
<option value="" selected >Select an Option</option>
<option th:each="currentDealership : ${dealerships}" th:value="${currentDealership.id}" th:text="${currentDealership.name}"></option>
</select><br/>
<input name="submit" type="submit" value="submit" />
</form>
</body>
</html>