<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Vacation Planner Home</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link th:href= "@{/css/dashboard.css}" rel="stylesheet">
<link rel="icon" th:href="@{../img/letter-vp-triangle-logo-design-260nw-1324887731-modified-removebg-preview.png}">
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
 <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" ><img th:src="@{../img/letter-vp-triangle-logo-design-260nw-1324887731-modified-removebg-preview.png}" width="30" height="30" class="d-inline-block align-top" alt=""> Vacation Planner</a>
   <div class="navbar-nav ms-auto">
      <a class="nav-link px-3" th:href="@{/accountSettings/{id}(id=${id})}">Account Settings</a>
  </div>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="/">Sign out</a>
    </div>
  </div>
</header>
<main class="text-center">
<h1>My Plans</h1>
<a class="w-100 btn btn-lg btn-primary" th:href="@{/createPlan/{id}(id=${id})}">Create New Plan</a>
<div class="table-responsive">
<table class="table text-center table-bordered">
<tr>
	<th>Name</th>
	<th>Action</th>
</tr>
<tr th:each="currentPlan : ${plans}">
<td th:text="${currentPlan.name}" />
<td>
<form th:action="@{/editPlan/{id}(id=${id})}" method='POST'>
<input type ="hidden" name ="id" th:value="${currentPlan.id}">
<input style ="width: 49%;" class="btn btn-warning btn-sm" type = "submit" value= "Edit" name= "action">
<input style ="width: 49%;" class="btn btn-danger btn-sm" type = "submit" value= "Delete" name= "action">
</form>
</td>
</tr>
</table>
</div>
</main>
</body>
</html>