<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Dealerships</title>
<style>
table{
width: 100%;
}
table, th, td {
  border:1px solid black;
  text-align: center;
}
</style>
</head>
<body>
<form>
		<table>
			<tr>
				<th>Dealership Name</th>
				<th>Street Address</th>
				<th>City </th>
				<th>State</th>
				<th>Zip Code</th>	
			</tr>
			<tr th:each="currentDealership : ${dealerships}">
			<td th:text = "${currentDealership.name}"/>
			<td th:text = "${currentDealership.address.street}"/>
			<td th:text = "${currentDealership.address.city}"/>
			<td th:text = "${currentDealership.address.state}"/>
			<td th:text = "${currentDealership.address.zip}"/>
			</tr>
		</table>
	</form>

</body>
</html>