<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View All Activities</title>
</head>
<body>
<header
		class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" ><img th:src="@{../img/letter-vp-triangle-logo-design-260nw-1324887731-modified-removebg-preview.png}" width="30" height="30" class="d-inline-block align-top" alt=""> Vacation Planner</a>
		<div class="navbar-nav ms-auto">
      <a class="nav-link px-3" th:href="@{/userHome/{id}(id=${id})}">View As User</a>
  </div>
   <div class="navbar-nav">
      <a class="nav-link px-3" href="#">Account Settings</a>
  </div>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="../">Sign out</a>
    </div>
  </div>
	</header>
	
	<table>
		<tr>
			<th> Activity Name </th>
			<th> Price </th>
		</tr>
		
		<tr th:each="currentActivity : ${activities}">
		
		<td th:text = "${currentActivity.activity}">
		<td th:text = "${currentActivity.price}">
		
	</table>
</body>
</html>